In [3]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt

In [6]:
import pandas as pd
file_name = "LOL-events-statistics-2023.csv"
file_path = os.path.abspath(file_name)

df = pd.read_csv(file_path)

In [10]:
df.head(5)

,golId,game,event1,event2,event3,event4,event5,event6,event7,event8,...,redMidGP,redMidWR,redMidKDA,redAdcGP,redAdcWR,redAdcKDA,redSupportGP,redSupportWR,redSupportKDA,result
0,44693,ESPORTSTMNT03_3087499,BLUE: first_blood,BLUE: dragon,BLUE: herald,BLUE: dragon,BLUE: first_tower_mid,BLUE: herald,BLUE: first_tower_top,BLUE: first_tower_bot,...,0,0.0,0.0,0,0.0,0.00,0,0.0,0.0,1
1,45608,ESPORTSTMNT01_3309691,BLUE: first_blood,BLUE: dragon,RED: herald,BLUE: dragon,RED: first_tower_mid,BLUE: first_tower_bot,RED: herald,RED: first_tower_top,...,0,0.0,0.0,0,0.0,0.00,2,0.0,6.0,1
2,45609,ESPORTSTMNT01_3311651,BLUE: first_blood,BLUE: dragon,BLUE: herald,BLUE: dragon,BLUE: first_tower_mid,BLUE: herald,BLUE: first_tower_top,BLUE: first_tower_bot,...,0,0.0,0.0,0,0.0,0.00,0,0.0,0.0,1
3,45610,ESPORTSTMNT01_3309743,RED: first_blood,RED: dragon,RED: herald,BLUE: dragon,RED: first_tower_bot,BLUE: herald,BLUE: first_tower_top,RED: dragon,...,1,0.0,5.5,0,0.0,0.00,0,0.0,0.0,1
4,45611,ESPORTSTMNT01_3311712,BLUE: first_blood,RED: herald,RED: dragon,RED: dragon,BLUE: herald,BLUE: first_tower_top,RED: first_tower_bot,BLUE: first_tower_bot,...,0,0.0,0.0,2,1.0,3.83,0,0.0,0.0,1
5,45612,ESPORTSTMNT01_3311744,RED: first_blood,BLUE: dragon,RED: herald,BLUE: dragon,RED: first_tower_top,BLUE: first_tower_bot,RED: herald,BLUE: first_tower_mid,...,0,0.0,0.0,1,0.0,18.00,1,0.0,1.0,1
6,45613,ESPORTSTMNT01_3313115,BLUE: first_blood,RED: dragon,BLUE: herald,BLUE: first_tower_top,BLUE: first_tower_mid,BLUE: dragon,BLUE: first_tower_bot,RED: first_tower_top,...,0,0.0,0.0,0,0.0,0.00,0,0.0,0.0,0
7,45614,ESPORTSTMNT01_3312216,BLUE: first_blood,RED: dragon,BLUE: herald,BLUE: dragon,BLUE: first_tower_mid,BLUE: first_tower_top,BLUE: herald,BLUE: first_tower_bot,...,0,0.0,0.0,0,0.0,0.00,1,0.0,6.0,1
8,45615,ESPORTSTMNT01_3313202,BLUE: first_blood,BLUE: dragon,RED: herald,BLUE: dragon,BLUE: herald,BLUE: first_tower_top,RED: first_tower_bot,RED: dragon,...,1,1.0,5.0,1,0.0,16.00,0,0.0,0.0,1
9,45616,ESPORTSTMNT01_3313248,BLUE: first_blood,BLUE: dragon,BLUE: herald,BLUE: dragon,BLUE: first_tower_bot,RED: herald,RED: first_tower_mid,BLUE: second_tower_bot,...,0,0.0,0.0,1,0.0,18.00,0,0.0,0.0,1

In [11]:
df.describe()

,golId,blueTopGP,blueTopWR,blueTopKDA,blueJungleGP,blueJungleWR,blueJungleKDA,blueMidGP,blueMidWR,blueMidKDA,...,redMidGP,redMidWR,redMidKDA,redAdcGP,redAdcWR,redAdcKDA,redSupportGP,redSupportWR,redSupportKDA,result
count,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,...,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000,1556.000000
mean,49146.930591,3.875321,0.416060,3.221080,3.829692,0.404492,3.903374,2.564910,0.387024,4.425167,...,2.607969,0.348014,4.186652,3.970437,0.421697,5.036350,2.803985,0.386452,4.158869,0.548201
std,2640.489391,4.381913,0.361089,3.685185,4.399932,0.358793,4.480872,3.077608,0.388250,5.591471,...,3.232160,0.374649,5.267814,4.301696,0.349105,5.539747,3.370118,0.378286,5.555133,0.497831
min,44452.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,46938.750000,1.000000,0.000000,0.330000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.265000,0.000000,0.000000,0.000000,0.000000
50%,48961.500000,2.000000,0.445000,2.700000,2.000000,0.445000,3.170000,2.000000,0.330000,3.000000,...,1.000000,0.305000,2.915000,3.000000,0.500000,4.125000,2.000000,0.400000,3.015000,1.000000
75%,51461.500000,6.000000,0.670000,4.250000,6.000000,0.670000,5.400000,4.000000,0.670000,6.000000,...,4.000000,0.670000,5.925000,6.000000,0.670000,6.670000,4.000000,0.670000,5.802500,1.000000
max,53425.000000,27.000000,1.000000,37.000000,28.000000,1.000000,43.000000,19.000000,1.000000,66.000000,...,22.000000,1.000000,37.000000,23.000000,1.000000,58.000000,21.000000,1.000000,83.000000,1.000000