In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
bancos = [
    'b1202304001',
    'b1202304037',
    'b1202304016',
    'b1202304012',
    'b1202304014'
]

In [3]:
dfs = {}  # Diccionario para almacenar los DataFrames

for banco in bancos:
    ruta = f'./PruebaPM/{banco}.txt'
    df = pd.read_csv(ruta, sep='\t', encoding='latin1', header=None)
    df['Archivo'] = banco
    
    dfs[banco] = df 


df_final = pd.concat(dfs.values(), ignore_index=True)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 5

In [149]:
df_names = {0:'Cuenta_contable', 1:'Saldo_CLP',2:'Saldo_UF',3:'Saldo_USD',4:'Saldo_otras_monedas', 'Archivo':'Archivo'}
df_final.rename(columns=df_names, inplace=True)
df_final

,Cuenta_contable,Saldo_CLP,Saldo_UF,Saldo_USD,Saldo_otras_monedas,Archivo
0,100000000,"28444728250232,00","20128453882100,00","0117300798857,00","6694297877237,00",b1202304001
1,105000000,"1059628254454,00","0000000000000,00","0000000000000,00","2016638137886,00",b1202304001
2,105000100,"0823187780235,00","0000000000000,00","0000000000000,00","0059105027666,00",b1202304001
3,105000101,"0192860234135,00","0000000000000,00","0000000000000,00","0059105027666,00",b1202304001
4,105000102,"0630327546100,00","0000000000000,00","0000000000000,00","0000000000000,00",b1202304001
...,...,...,...,...,...,...
3540,380000000,"2710834786792,00","0324505055397,00","0103002912342,00","-0015209957428,00",b1202304014
3541,390000000,"0133892879446,00","0000000000000,00","0000000000000,00","0000000000000,00",b1202304014
3542,500000000,"9653639409703,00","17804083486292,00","0111087071465,00","5425082593545,00",b1202304014
3543,505000000,"9653639409703,00","17804083486292,00","0111087071465,00","5425082593545,00",b1202304014
3544,510000000,"27527001857100,00","9480078772791,00","0103002912342,00","8437930312092,00",b1202304014

In [150]:
df_final = df_final.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_final.iloc[:, :4] = df_final.iloc[:, :4].replace(',', '.', regex=True).astype(float)
df_final.iloc[:, :4] = df_final.iloc[:, :4].astype(float)

In [151]:
df_final

,Cuenta_contable,Saldo_CLP,Saldo_UF,Saldo_USD,Saldo_otras_monedas,Archivo
0,100000000.0,28444728250232.0,20128453882100.0,117300798857.0,"6694297877237,00",b1202304001
1,105000000.0,1059628254454.0,0.0,0.0,"2016638137886,00",b1202304001
2,105000100.0,823187780235.0,0.0,0.0,"0059105027666,00",b1202304001
3,105000101.0,192860234135.0,0.0,0.0,"0059105027666,00",b1202304001
4,105000102.0,630327546100.0,0.0,0.0,"0000000000000,00",b1202304001
...,...,...,...,...,...,...
3540,380000000.0,2710834786792.0,324505055397.0,103002912342.0,"-0015209957428,00",b1202304014
3541,390000000.0,133892879446.0,0.0,0.0,"0000000000000,00",b1202304014
3542,500000000.0,9653639409703.0,17804083486292.0,111087071465.0,"5425082593545,00",b1202304014
3543,505000000.0,9653639409703.0,17804083486292.0,111087071465.0,"5425082593545,00",b1202304014
3544,510000000.0,27527001857100.0,9480078772791.0,103002912342.0,"8437930312092,00",b1202304014

In [153]:
df_final.to_csv('final_df.csv', index=False)